services:
  orders-db:
    image: postgres:latest
    container_name: orders-postgres
    environment:
      POSTGRES_USER: orders-user
      POSTGRES_PASSWORD: orders-pass
      POSTGRES_DB: orders
    ports:
      - "5432:5432"
    volumes:
      - orders-db-data:/var/lib/postgresql/data
    networks:
      - marketplace

  orders-service:
    build: ./services/orders
    container_name: orders-service
    env_file:
      - ./services/orders/.env
    ports:
      - "8080"
    depends_on:
      - orders-db
    networks:
      - marketplace

  customers-db:
    image: postgres:latest
    container_name: customers-postgres
    environment:
      POSTGRES_USER: customers-user
      POSTGRES_PASSWORD: customers-pass
      POSTGRES_DB: customers
    ports:
      - "5433:5432"
    volumes:
      - customers-db-data:/var/lib/postgresql/data
    networks:
      - marketplace

  customers-service:
    build: ./services/customers
    container_name: customers-service
    env_file:
      - ./services/customers/.env
    ports:
      - "8080"
    depends_on:
      - customers-db
    networks:
      - marketplace

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "80:80"
    depends_on:
      - orders-service
      - customers-service
    networks:
      - marketplace

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus:/etc/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - marketplace

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - marketplace
    depends_on:
      - prometheus

volumes:
  orders-db-data:
  customers-db-data:
  grafana-data:


networks:
  marketplace:
    driver: bridge
    ipam:
      config:
        - subnet: 172.31.0.0/16
