global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'orders-service'
    static_configs:
      - targets: ['orders-service:8080']

  - job_name: 'customers-service'
    static_configs:
      - targets: ['customers-service:8080']
